
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/register" class="navbar-link">Register
            </a>
            <a href="#/login" class="navbar-link nav-right">Login</a>
        </p>
        <p class="navbar-header pull-left">
            <a class="navbar-brand">Restaurants</a>
        </p>
        <p class="navbar-header navbar-center">
            <a class="navbar-brand">Waitless</a>
        </p>
    </div>
</nav>

<div class="page-background">
    <section id="contact class" class="container-fluid text-center">
        <div id="responsiveForm" class="container-fluid">
            <div class="row">
                <div>
                    <form role="form">
                        <div class="form-group ">
                            <label class=" name-label">Find Restaurant</label>

                            <div class="">
                                <input type="text" ng-model="rest.name" class="form-control" placeholder="What for food?">
                            </div>
                            <div><button ng-click="model.findRestaurantsByNameAndCity(rest)" type="submit"
                                         class="btn btn-success btn-block">Search
                            </button></div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-3" ng-repeat="restaurant in model.restaurants">
                <div class="thumbnail">
                    <img ng-if="restaurant.image_url" class="my-image" src="{{restaurant.image_url}}" alt="">
                    <div class="caption">
                        <h3>{{restaurant.name | limitTo:20}}{{restaurant.name.length > 20 ? "..." : ""}}</h3>
                        <p><b class="wb-red ">Address: </b>{{restaurant.address | limitTo:15}}{{restaurant.address.length > 15 ? "..." : ""}}</p>
                        <p><b class="wb-red ">Waiting Time: 10-20 minutes</b></p>
                        <p><a href="#/user/restaurant/{{restaurant.id}}" class="btn btn-danger" role="button">Join Line</a>
                            <a href="#/user/restaurant/{{restaurant.id}}/articles" class="btn btn-default" role="button">More Info</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
