<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4 hidden-xs">
                <p class="navbar-text pull-right">
                    <a class="navbar-link" href="#/user/{{model.userId}}/restaurant/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
                <p class="navbar-text pull-left">
                    <a class="navbar-link" href="#/user/{{model.userId}}/restaurant" >
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <div class="navbar-header">
                    <a class="navbar-brand">Restaurants</a>
                </div>
            </div>

            <div class="col-sm-8 col-xs-12">
                <p class="navbar-text pull-right">
                    <a class="navbar-link" ng-click="model.createRestaurant(restaurant)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
                <p class="navbar-text pull-left">
                    <a class="navbar-link" href="#/user/{{model.userId}}/restaurant">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <div class="navbar-header">
                    <a class="navbar-brand">New Restaurant</a>
                </div>
            </div>

        </div>
    </div>
</nav>

<div class="container-fluid contentPadding">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li ng-repeat= "restaurant in model.restaurants" class="list-group-item">
                    <a href="#/user/{{model.userId}}/restaurant/{{restaurant._id}}/page">{{restaurant.name}}</a>
                    <div class="listConf pull-right">
                        <a href="#/user/{{model.userId}}/restaurant/{{restaurant._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="page-divider hidden-xs"></div>

        <!-------------------------Content for restaurantsite page-------------------------->
        <div class="col-xs-12 col-sm-8">
            <div class="container-fluid">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input ng-model="restaurant.name" class="form-control" id="name" type="text" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea ng-model="restaurant.description" class="form-control" id="description" rows="8" placeholder="Description"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</footer>
