
<nav class="navbar navbar-light navbar-fixed-top" ng-controller="widgetChooseController">
    <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left">
                </span></a></li>
                <li><a>Choose Widget</a></li>
                <li class="navbar-brand pull-right"><a ng-click="model.createWidget(model.widget)"
                                                       class="glyphicon glyphicon-ok"> </a></li>
            </ul>
    </div>
</nav>


<div class="container-fluid">
    <label for="type">Widget Type</label>
    <select ng-model="model.widget.widgetType"id="type"class="form-control">
        <option value="HEADING">HEADING</option>
        <option value="IMAGE">IMAGE</option>
        <option value="HTML">HTML</option>
        <option>Label</option>
        <option>Text Input</option>
        <option>Link</option>
        <option>Button</option>vv
        <option>Repeater</option>
        <option>Data Table</option>
    </select>

    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADING">
            <div ng-include src="'views/widget/widget-heading-edit.view.client.html'"></div>
        </div>

        <div ng-switch-when="IMAGE">
            <div ng-include src="'views/widget/widget-image-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="YOUTUBE">
            <div ng-include src="'views/widget/widget-youtube-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="HTML">
            <div ng-include src="'views/widget/widget-heading-edit.view.client.html'"></div>
        </div>
    </div>
</div>



<nav class="navbar navbar-light navbar-fixed-bottom bg-faded">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>