<div ng-include src="'views/user/templates/navbar.view.client.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 custom-margin">
            <div class="thumbnail">
                <img src="../../../../imgs/user.png" alt="" ng-show="!model.user.imgUrl">
                <img class="img-rounded"
                     ng-show="model.user.imgUrl" ng-src="{{model.user.imgUrl}}">
                <div class="caption">
                    <br>
                    <p><b class="wb-red ">FirstName: </b> {{model.user.firstName}}</p>
                    <p><b class="wb-red ">LastName: </b> {{model.user.lastName}}</p>
                    <p><b class="wb-red ">Waiting for: </b> {{model.user.following.length}}</p>
                    <div class="text-center" ng-show="currentUser._id == model.userid">
                        <a href="#/profile/{{currentUser._id}}"
                           class="btn-sm btn-primary">Edit Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div id="exTab2">
                <ul class="nav nav-pills">

                    <li role="presentation" class="nav active"><a href="" data-target="#following"
                                                           data-toggle="tab">Waiting</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" id="following">

                                    <div ng-repeat="user in model.followingusers" class="row">
                                        <hr/>
                                        <div class="col-xs-6 col-sm-6 col-md-4">
                                            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image"
                                                 alt="" ng-show="!user.imgUrl">
                                            <img class=" profile-small-image-size img-rounded"
                                                 ng-show="user.imgUrl" ng-src="{{user.imgUrl}}">

                                        </div>
                                        <h3 class="col-xs-6 col-sm-6 col-md-8">
                                            <a href=""
                                               ng-click="model.navigateToUserPage(user.username)">
                                                {{user.firstName}}
                                                {{user. lastName}}
                                            </a>
                                        </h3>
                                    </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






