<nav class="navbar navbar-light navbar-fixed-top" ng-controller="pageListController">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li><a href=" #!/user/{{model.userId}}/website"><span class="glyphicon glyphicon-chevron-left">
                </span></a></li>
            <li><a>Pages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new"><span
                    class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <ul style="list-style-type:none">
        <li>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">New Page</a>
            <a><span class="glyphicon glyphicon-cog pull-right"></span></a></li>
        <li ng-repeat="page in model.pages">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                {{page.name}}
        <li>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"><span
                    class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
        <li>
            <a href=href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                widget list (not working)
            </a>
        </li>
    </ul>


</div>


<nav class="navbar navbar-light navbar-fixed-bottom bg-faded">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>

